.landing-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.text-wrapper {
  margin: 1rem;
}


.text {
  color: black;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 37.5rem) {
  .text {
    font-size: 1rem;
  }
}

.map-wrapper {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.map {
  width: 90%;
  height: 90%;
  margin: auto;
}

agm-map {
  height: 70vh;
  width: 100%;
}
