.landing-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.text-wrapper {
  margin: 1rem;
}


.text {
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 37.5rem) {
  .text {
    font-size: 1rem;
  }
}

.map {
  margin: auto;
  width: 80%;
  height: 80%;
}
