<div class="landing-wrapper">
  <div class="text-wrapper">
      <span class="text">
    Интерактивная карта:
    <br>
    Граффити Караганды
  </span>
  </div>
</div>
<div class="map" *ngIf="apiLoaded | async">
  <google-map width="100%" [options]="options">
    <map-marker #marker="mapMarker" *ngFor="let graffiti of graffities"
              [position]="graffiti.position"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker, graffiti.infoContent)"></map-marker>
    <map-info-window [innerHTML]="infoContent" #infoWindow="mapInfoWindow"></map-info-window>
  </google-map>
</div>
