.landing-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.text-wrapper {
  margin: 1em;
}


.text {
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

@media (max-width: 37.5em) {
  .text {
    font-size: 1em;
  }
}

.map {
  margin: auto;
  width: 80%;
  height: 80%;
}

.info-window-wrapper {
  display: flex;
}

.info-window-text {
  margin-left: 5px;
}

.gm-style-iw-d {
  max-width: 350px !important;
}
