<div class="landing-wrapper">
  <div class="text-wrapper">
      <span class="text">
    Интерактивная карта:
    <br>
    Граффити Караганды
  </span>
  </div>
</div>
<div class="map" *ngIf="apiLoaded | async">
  <google-map width="100%" [options]="options">
    <map-marker #marker="mapMarker"
              [position]=pos
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker, infoContentH)"></map-marker>
    <map-info-window [innerHTML]="infoContentH" #infoWindow="mapInfoWindow"></map-info-window>
  </google-map>
</div>
