.about-us-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
}

.text-wrapper {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 1em;
  text-align: justify;
}

@media screen and (min-width: 72em) {
  .text-wrapper {
    font-size: 1.2em;
  }
}

.avatar-wrapper {
  margin-right: 1.5em;
}

.avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 1px dashed #0D503C;
}

@media screen and (max-width: 37.5em) {
  .avatar {
    width: 25vh;
    height: 25vh;
  }
}

a {
  text-decoration: underline;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.social-icon {
  width: 4em;
  height: 4em;
}
