.header {
  width: 100vw;
  height: 6vh;
  background: #0D503C;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text{
  color: white;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1rem;
}

a:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
