.header {
  width: 100vw;
  height: 8vh;
  left: 0px;
  top: 0px;
  background: #0D503C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  padding: 1em;
  margin-right: 1em;
}

.text{
  color: white;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

a:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
