.graffiti-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.text-wrapper {
  width: 90%;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.form-wrapper {
  border: 1px solid #D2F4EA;
  border-radius: 1%;
  box-shadow: 0.5em 0.5em #D2F4EA;
  align-items: center;
}

.form-row {
  margin: 1em;
  height: 5vh;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

label {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin-right: 1em;
  margin-left: 1em;
  width: 50%;
}

textarea {
  resize: none;
  outline: none;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

input[type=text] {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  height: 80%;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  width: 50%;
}

input[type=file] {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  display: none;
}

#lg, #lt {
  width: 32%;
}

#zip {
  width: 17%;
}

.form-row#send-button {
  display: flex;
  justify-content: center;
}

.form-row#comment {
  height: fit-content;
}

button {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  background: #FFFFFF;
  border: 1px solid #28A745;
  border-radius: 4px;
}

#comment-area {
  margin-left: 1em;
  width: 90%;
  height: 100%;
  min-height: 15vh;
}

#photo-upload {
  background: #FFFFFF;
  border: 1px solid #28A745;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  width: 20%;
  padding-top: 0.5em;
  height: 80%;
  text-align: center;
}
