.about-us-wrapper {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2.5em;
  flex-wrap: wrap;
  align-items: center;
}

.text-wrapper {
  width: 50%;
  font-family: Inter, sans-serif;
  font-size: 18px;
  text-align: justify;
  vertical-align: middle;
}

.avatar-wrapper {
  margin-right: 1.5em;
}

.avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}

a {
  text-decoration: underline;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.social-icon {
  width: 4em;
  height: 4em;
}
